---
layout: default
---
{% for l in site.data.language %}
     {% if page.lang == l.language-code %}
          {% assign lang = l %}
     {% endif %}
{% endfor %}

<div class="topleft">
        {{lang.theme}}:
        <select id="theme-chooser">
            {% for theme in site.data.themes %}
                <option value="{{theme.filename}}">{{theme.name}}</option>
            {% endfor %}
        </select>

        {{lang.language}}:
        <select id="lang-chooser">
            {% for langu in site.data.language %}
                <option value="{{langu.language-code}}">{{langu.name}}</option>
            {% endfor %}
        </select>
</div>


<div class="degree">
    <img src="/res/Uni-Logo.png" alt="University Logo" align="middle"/>

    <h1>{{lang.school-name}}</h1>
    <br>
    <h2>{{lang.select-deg}}</h2>

    {% for course in site.data.courses %}

       <div class="course">
          <a href="{{site.baseurl}}/{{lang.language-code}}/{{course.degree-code}}.html"><h2>{{course.name}}</h2></a>
       </div>

    {% endfor %}

    <h2>{{lang.disclaimer}}</h2>
    <p>{{lang.more-options}} <a href="{{site.data.settings.more-options}}" target="_blank">{{lang.here}}</a>.</p>
</div>
